
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Objectifs</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="openAddPage()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-reorder-group (ionItemReorder)="doReorder($event)"
disabled="false">
<ion-item-sliding *ngFor="let goal of goals "><!--4.-->
  <!-- <ion-item-sliding> permet de fair slider un element -->
  <ion-item lines="none"> <!--2.-->
    <!-- <ion-item> balise representant un item -->
    <ion-badge [color]="goal.color" mode="ios" slot="start">c</ion-badge><!--2.-->
    <!-- <ion-badge> balise representant un badge -->
    <ion-label>
      <!-- <ion-label> balise representant un label -->
      <h2>{{goal.text}}</h2><!--2.-->
    </ion-label>
    <ion-reorder slot="end"></ion-reorder><!--4.-->
  </ion-item>
  <ion-item-options side="start"><!--5.-->
    <!-- <ion-item-options> permet definir des options de slid va de paire avec ion-option -->

    <ion-item-option><!--5.-->
      <ion-icon slot="icon-only" name="create" (click)="editGoal(goal)"></ion-icon>
      <!--ion-icon defini une icone -->
    </ion-item-option>
    <ion-item-option color="danger"><!--5.-->
      <ion-icon slot="icon-only" name="trash" (click)="deleteGoal(goal)"></ion-icon>
    </ion-item-option>

  </ion-item-options>
</ion-item-sliding>
</ion-reorder-group>

<div id="container">
  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-title color="ligth" size="large">Tâches</ion-title>
      <ion-note slot="end" class="bold_note">
      {{ taskPercentage }}%
      </ion-note>
      <ion-buttons slot="end">
        <ion-button color="dark" (click)="openAddPage()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let task of tasks">
    <ion-item lines="none" (click)="taskClicked(task)">
    <ion-note slot="start">{{ task.date }}</ion-note>
    <ion-label text-wrap>
    <h2 *ngIf="!task.checked">{{ task.text }}</h2>
    <h2 *ngIf="task.checked" style="text-decoration:line-through;">{{
    task.text }}</h2>
    <ion-badge [color]="task.color">{{ task.categorie }}</ion-badge>
    </ion-label>
    <ion-checkbox slot="end" [(ngModel)]="task.checked"
    [color]="task.color"></ion-checkbox>
    </ion-item>
  </ion-card>
</div>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="dark" (click)="openAddPage()">
  <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>
  